<a routerLink="/default" routerLinkActive="active" class="btn">home</a>
<a routerLink="/jobs" routerLinkActive="active" class="btn">jobs</a>
<a routerLink="/users" routerLinkActive="active" class="btn">users</a>
<a routerLink="/hero" routerLinkActive="active" class="btn">hero</a>
<a routerLink="/not-found" routerLinkActive="active" class="btn">not found</a>
<div class="container">
    <h4 highlight="lightblue">
        {{title}}
    </h4>
    <!--<month-view></month-view>-->
    <router-outlet></router-outlet>
</div>
